/* // Colors
// 90, 118, 132 | #5A7684
// 218, 255, 239 | #DAFFEF
// 255, 16, 83 | #FF1053 */

/* STYLESHEET */

body {
    display: flex;
    justify-content: center;
}

h1 {
    padding-top: 64px;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-1 {
    width: 20%;
}

#section-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

#section-3 {
    width: 20%;
}

.button {
    font-size: 24px;
    background-color: #5A7684;
    border: none;
    color: #DAFFEF;
}

.grid-slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* GRID RELATED STYLES */

.div-grid {
    display: grid;
    margin: 32px;
    width: 600px;
    height: 600px;
    border: 8px;
    border-style: ridge;
}

.sketch-div {
    /* border: 0.05em;
    border-style: dashed; */
}

.sketch-div-transformed {
    background-color: #FF1053;
}