/* // Colors
// 90, 118, 132 | #5A7684
// 218, 255, 239 | #DAFFEF
// 255, 16, 83 | #FF1053 */

/* STYLESHEET */


/* ELEMENTS */
body {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    font-family: Oswald;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

h1 {
    padding-top: 64px;
    font-size: 32px;
    border-bottom: dotted;
}

button {
    font-family: Oswald;
    font-size: 20px;
    color: #eef0f1;
    background-color: #4d5e66;
    border: solid;
    border-color: black;
    width: 128px;
    height: 64px;
}

/* CLASSES */

.page {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 128px;
}

.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tool-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    height: 50%;
}

.grid-slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

button.color {
    background-color: #FF1053;
}

/* GRID RELATED STYLES */

.div-grid {
    display: grid;
    margin: 32px;
    width: 550px;
    height: 550px;
    border: 8px;
    border-style: dashed;
}

.sketch-div {
    background-color: #FFFFFF;
}

/* IDs */
#section-1 {
    width: 25%;
}

#section-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

#section-3 {
    width: 25%;
}
